build
dist/
nbproject/private/
.classpath
.metadata/*
.project
.settings/*
RemoteSystemsTempFiles/*
bin/*
data/*
/bin/
target/
classes/
jo/
private.properties
build.properties
private.xml
/ASDS/nbproject/private/
